.container{
    display:flex;
    align-items: center;
}
.checkbox{
    
    width:15px;
    height:15px;
    background-color:gray;
    margin:10px 25px 10px 10px;
}

.delete{
    margin:10px 25px 10px 25px; 
}
.label{
    font-size:13px;
    margin-left:50px;
}
.input{
    vertical-align:top;
    
}
